/* eventBannerSection started */
.eventBanner{
    margin-top: var(--navHeight);
    color: white;
    background-image: url('../images/gallery Image/college.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-attachment: fixed;
    padding: 4rem 0;
    /* height: 400px; */
}
.eventBannerContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    z-index: 1;
}
.eventBannerContainer::before{
    content: '';
    background-color: var(--BgColor6);
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
}
.eventBannerLeft{
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 1rem;
}
.eventBannerRight{
    max-height: 400px;
    flex: 1 1 300px;
}
.eventBannerRight img{
   object-fit: contain;
}
/* eventBannerSection ended*/

/* colege events section started */
.events{
    background-color: var(--BgColor5);
    color: white;
    padding: 3rem 0;
}
.events h1{
    text-align: center;
}

.event{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    /* border: 2px solid rgb(246, 241, 241); */
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem 1rem;
    background-color: var(--BgColor1);
    transition: var(--transition500);
    margin: 1rem 0;
    /* box-shadow: 0 3rem 3rem rgba(255, 255, 255, 0.514); */
}
.event:nth-child(2n+1){
    flex-direction: row-reverse;
}
.event:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.274);
}
.eventImgae{
    flex: 1 1 240px;
    max-height: 300px;
    border-radius: 1rem;
    overflow: hidden;
}
.eventDetails{
    flex: 1 1 240px;
    max-height: 300px;
    padding: 2rem 2rem;
    box-shadow: 0 3rem 3rem rgba(255, 255, 255, 0.514);
}
.eventDetails h2,
.eventDetails h3{
   margin: 0.5rem 0;
}
.eventDetails button{
   padding: 0.8rem;
}
/* colege events section ended */